
.showFeatureSection {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
    transform: translateY(0);
    transition-delay: 0.1s;
    text-align: center;
  }

