@import "assets/_responsive";

.listFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filterTitle {
  border-bottom: 3px solid var(--color);
  text-align: center;
}
.filterContainer {
  background-color: var(--backGroundColorCode) !important;
  box-shadow: 1px 1px 1px 1px rgb(226, 225, 225) !important;
  color: var(--color) !important;

  @include mdW {
    padding-right: 0 !important;
  }
}
