.containerSpinner--none {
  display: none;
}

.containerSpinner--block {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  background-color: white;
  z-index: 10000;
  transition-duration: .5;
}

.spinnerBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
