.backgroundPick {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2207x1600/f543a340608d77dc9ad5f1c935d5cca4/photo-1608618140680-6f7190a9b24d.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3) !important;
}